.title {
	margin-top: 2em;
	margin-bottom: 1em;
}

.bodytext h3 {
	
}

.bodytext a {
	color: #3B7EA1;
	style:
}

.bodytext a:visited {
	color: #3B7EA1;
}

.bodytext a:hover {
	color: #3B7EA1;
	text-decoration: underline;
}

.bodytext {
	
}

