.title {
	color: #46535E;
	margin-top: 2em;
	margin-bottom: 1em;
}

.bodytext h3 {
	color: #46535E;
}

.bodytext a {
	color: #92886A;
	style:
}

.bodytext a:visited {
	color: #92886A;
}

.bodytext a:hover {
	color: #92886A;
	text-decoration: underline;
}

.bodytext {
	
}

